<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleDisplayName</key>
    <string>Voxt</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Voxt needs automation access to read the active browser tab URL for app branch enhancement.</string>
    <key>NSAudioCaptureUsageDescription</key>
    <string>Voxt needs system audio access to temporarily mute other apps while recording.</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Voxt needs microphone access to transcribe your speech.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Voxt needs reminders access to sync notes into Apple Reminders.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Voxt uses speech recognition for direct dictation.</string>
    <key>SUEnableInstallerLauncherService</key>
    <true/>
	<key>SUFeedURL</key>
	<string>https://voxt.actnow.dev/updates/stable/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>iMt1voRdgfUUpKxdY7DliGLaOl17gJFB8Jhlo5ox2eE=</string>
</dict>
</plist>
